.jumbotron {
    background: url('/assets/tacos.jpg');
    background-size: cover;
    border-radius: 0;

    &-heading {
        color: white;
        text-shadow: 2px 2px 5px #000;
    }
}

.card {
    margin-bottom: 2em;
}