<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a routerLink="" class="navbar-brand">Tacos and More</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto mt-2">
      <li class="nav-item active">
        <a routerLink="recipes/new" class="nav-link">Add Recipe</a>
      </li>
    </ul>
  </div>
</nav>