.header-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

h1 {
  margin-top: 1em;
  text-decoration: underline;
}

h2 {
  margin-bottom: 1em;
}

.main {
  background-color: #ececec;
  padding: 1em;
  margin-top: 2em;
}

button {
  margin: 1em 1em 0 0;
  min-width: 100px;
}

.back-and-edit {
  margin: 0 0 2em;
}

.container {
  margin-bottom: 2em;
}
