.app {
    display: grid;
    grid-template-columns: 1fr 400px 1fr;
    grid-template-rows: 1fr auto 1ft;
    height: 100vh;
}

.todo-container {
  grid-column: 2 / 2;
  grid-row: 2 / 2;
}

.new-todo {
  width: 100%;
  height: 50px;
  padding: 5px;
  border-radius: 5px;
}